.post-text
  = raw(markdown(answer.body))
.post-footer
  - if user_signed_in?
    .vt
      = link_to '編集', edit_question_answers_path(question, answer)
      - if current_user == answer.answerer
        = link_to '削除', question_answer_path(question, answer), :method => :delete,
                          :data => { :confirm => '回答を削除しますか?' }
  .post-signature
    .user-action-time
      回答日時
      %span 9月29日 20:10
    .gravatar-wrapper-32
      = image_tag answer.answerer.try(:gravatar_url, size: 32), width: 32, height: 32
    .user-detail
      = answer.answerer.try(:name)
.comments
  .comment
    %p ただし、 nil や "dog" といった数字以外の要素は to_i すると 0 として扱われるので、注意してください。 –  Junichi Ito 9月29日 20:13
    %p heliac2001さん ご回答いただきまして、ありがとうございます。 返信がついたことに気づくのが遅くなり申し訳ありません。 アドバイス通りeclipse.iniに１行追加し、かつeclipseをclean実行なども試しましたがエラー内容は変わりませんでした。 –  masayuki 2月20日 20:05
  .comment-link
    %a.add-comment{href: '#', 'data-add-comment-path': new_answer_comments_path(answer)} コメントを追加
    .comment-form
