= simple_form_for @question, {class: 'form-control input-lg', placeholder: 'タイトル', autofocus: true} do |f|

  = f.input :title, placeholder: 'プログラミングに関しての質問は何ですか？具体的に書いてください。'
  = f.input :body, as: :text, input_html: {rows: 10, class: 'textarea'}

  #preview
    = raw(markdown(@question.body)) if @question.body

  = f.input :tag_list, value: @question.tag_list, input_html: {'data-role' => 'tagsinput', tagindex: -1}

  .actions
    = f.button :submit , '質問する', {class: 'btn btn-primary'}
