.row
  #mainbar.col-md-10
    - unless action_name == 'tagged' || action_name == 'unanswered'
      %ul.nav.nav-tabs{role: 'tablist'}
        %li{class: params[:tab].nil? || params[:tab] == 'active' ? 'active' : ''}
          = link_to 'アクティブ', questions_path(tab: 'active'), title: '最近投稿された、または更新された質問'
        %li{class: params[:tab] == 'hot' ? 'active' : ''}
          = link_to '人気', questions_path(tab: 'hot'), title: '過去2日間の回答数が最多の質問'
        %li{class: params[:tab] == 'week' ? 'active' : ''}
          = link_to '今週', questions_path(tab: 'week'), title: '今週の回答数が最多の質問'
        %li{class: params[:tab] == 'month' ? 'active' : ''}
          = link_to '今月', questions_path(tab: 'month'), title: '今月の回答数が最多の質問'

    = render 'questions'

  #sidebar.col-md-2
    = render 'tags', tags: @tags
