.question-detail
  .row
    .col-md-12
      .question-header{'data-islogin': user_signed_in? ? 1 : 0}
        %h1= @question.title
  .row
    .col-md-9
      .question
        = render partial: 'vote', locals: { votable: @question }
        .postcell
          = render partial: 'question', locals: { question: @question }
      .answers
        - if @question.answers_count > 0
          %ul.nav.nav-tabs{role: 'tablist'}
            %li
              %h2 #{@question.answers_count}件の回答
            %li{class: params[:tab].nil? || params[:tab] == 'active' ? 'active' : ''}
              = link_to 'アクティブ', answers_path?(controller_name) ? question_answers_path(tab: 'active') : question_path(tab: 'active')
            %li{class: params[:tab] == 'oldest' ? 'active' : ''}
              = link_to '古い順', answers_path?(controller_name) ? question_answers_path(tab: 'oldest') : question_path(tab: 'oldest')
            %li{class: params[:tab] == 'vote' ? 'active' : ''}
              = link_to '票', answers_path?(controller_name) ? question_answers_path(tab: 'oldest') : question_path(tab: 'oldest')
            %li{class: params[:tab] == 'vote' ? 'active' : ''}

        - if @question.best_answer
          .answer
            #best_answer
              = render partial: 'vote', locals: { votable: @question.best_answer }
              .postcell
                = render partial: 'answer', locals: { question: @question, answer: @question.best_answer }

        - @question.answers.reorder(order_by_tab(params[:tab])).each do |answer|
          - next if answer.id == @question.best_answer_id
          .answer
            = render partial: 'vote', locals: { votable: answer }
            .postcell
              = render partial: 'answer', locals: { question: @question, answer: answer }

        = render 'answers/form'

    .col-md-3
      %p.label-key
        質問を投稿
        %b{title: @question.created_at} #{time_ago_in_words @question.created_at}前
      %p.label-key
        閲覧回数
        %b #{@question.impressionist_count} 回
      %p.label-key
        アクティブ
        %b{title: @question.updated_at} #{time_ago_in_words @question.updated_at}前
      = render 'question_help'
