.row
  #mainbar.col-md-10
    %ul.nav.nav-tabs{role: 'tablist'}
      %li{class: params[:tab].nil? || params[:tab] == 'active' ? 'active' : ''}
        = link_to 'アクティブ', root_path(tab: 'active')
      %li{class: params[:tab] == 'hot' ? 'active' : ''}
        = link_to '人気', root_path(tab: 'hot')
      %li{class: params[:tab] == 'week' ? 'active' : ''}
        = link_to '今週', root_path(tab: 'week')
      %li{class: params[:tab] == 'month' ? 'active' : ''}
        = link_to '今月', root_path(tab: 'month')

    .question-list
      - @questions.each do |question|
        .question-summary.narrow
          .cp
            .votes
              .mini-counts
                %span{title: "#{question.total_votes_count} 票"}= question.total_votes_count
              %div 票
            .status{class: status(question)}
              .mini-counts
                %span{title: "#{question.answers.size} 件の回答"}= question.answers.size
              %div 回答
            .views
              .mini-counts
                %span{title: "#{question.impressionist_count} 件の閲覧数"}= question.impressionist_count
              %div 閲覧数
          .summary
            %h3
              = link_to question.title, question_path(question), {class: 'question-hyperlink'}
            .tags
              - question.tags.each do |tag|
                = link_to(tag.title, '#', class: 'post-tag', title: tag.title, rel: 'tag')
            .started
              = link_to(question_path(question), class: 'started-link') do
                更新日時:
                %span{title: question.updated_at, class:'relativetime'}= "#{time_ago_in_words question.updated_at}前"
              %a{href:'#'}= question.questioner.try(:name)
              %span{title: '信用度スコア:', dir: 'ltr', class: 'reputation-score'} 105

  #sidebar.col-md-2
    = render 'tags', tags: @tags
