.row
  - @tags.each do |tag|
    .col-md-3.col-xs-6
      %p
        = link_to tag.title, tagged_questions_path(tag: tag.title), class: 'post-tag', title: tag.title, rel: 'tag'
        = "x #{tag.taggings_count}"
      %p= "#{tag.taggings_count}件の質問数"
