.row
  #mainbar.col-md-12
    %h3 タグ
    %ul.nav.nav-tabs{role: 'tablist'}
      %li{class: !params[:tab] || params[:tab] == 'popular' ? 'active' : ''}
        = link_to '人気', tags_path(tab: 'popular')
      %li{class: params[:tab] == 'name' ? 'active' : ''}
        = link_to '名前', tags_path(tab: 'name')
      %li{class: params[:tab] == 'newest' ? 'active' : ''}
        = link_to '新規', tags_path(tab: 'newest')

    .description
      %p タグとは、あなたの質問をよく似た他の質問と一緒に分類するキーワードまたはラベルのことです。適切なタグを使用することで、他のユーザーがあなたの質問を検索したり、質問に対して回答したりすることが容易になります。

    #search-box
      %span 検索するタグを入力
      = hidden_field_tag 'selected_tab', params[:tab] || 'popular'
      = text_field(:tag, :keyword, value: params[:keyword])

    #search-results
      = render 'tags'
