#header
  .row
    #logo.col-md-6.col-sm-12
      = link_to 'トップページ', root_path
    #menus.col-md-6.col-sm-12
      .nav
        %ul
          %li{class: current_header == 'questions' ? 'active' : ''}
            = link_to '質問', questions_path
          %li{class: current_header == 'tags' ? 'active' : ''}
            = link_to 'タグ', tags_path
          %li{class: current_header == 'users' ? 'active' : ''}
            = link_to 'ユーザ', users_path
          %li{class: current_header == 'unanswered' ? 'active' : ''}
            = link_to '未回答', unanswered_questions_path

          %li{class: current_header == 'ask_question' ? 'active' : ''}
            = link_to '質問する', new_question_path

