%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbar',
                                      'aria-expanded': false, 'aria-controls': 'navbar'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.navbar-collapse.collapse
      = form_tag(search_questions_path, method: :get, class: 'navbar-form navbar-right') do
        = text_field_tag :keyword, '', class: 'form-control', placeholder: '検索'
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.avatar
            = link_to image_tag(current_user.try(:gravatar_url, size: 32), width: 32, height: 32, title: current_user.name), mypage_users_path
          %li
            = link_to 'ログアウト', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to "登録", new_registration_path('user')
          %li
            = link_to "ログイン", new_session_path('user')
        %li
          %a{href: 'http://ja.stackoverflow.com/tour'} ツアー
        %li
          %a.dropdown-toggle{href: '#', role: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': true, 'aria-expanded': false}
            ヘルプ
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href: 'http://ja.stackoverflow.com/tour'}
                %p.title ツアー
                %p.description はやわかりツアーはこちらから
            %li
              %a{href: 'http://ja.stackoverflow.com/help'}
                %p.title ヘルプセンター
                %p.description どんな質問でもお答えします
            %li
              %a{href: 'http://meta.ja.stackoverflow.com'}
                %p.title メタ
                %p.description コミュニティの運営について
