.votecell
  .vote
    = form_for [votable, Vote.new], remote: true, html: {id: "up_vote_at_#{votable.class.name.downcase}_#{votable.id}"} do |f|
      = f.hidden_field :value, value: 1
      = f.hidden_field :votable_type, value: votable.class
      = f.hidden_field :votable_id, value: votable.id
    %a.vote-up.vote-action 賛成投票
  .vote
    %span.vote-count= votable.total_votes_count
  .vote
    %a.vote-down.vote-action 反対投票
    = form_for [votable, Vote.new], remote: true, html: {id: "down_vote_at_#{votable.class.name.downcase}_#{votable.id}"} do |f|
      = f.hidden_field :value, value: -1
      = f.hidden_field :votable_type, value: votable.class
      = f.hidden_field :votable_id, value: votable.id
  - if @question.best_answer == votable
    .vote
      %span.accepted 承認済
  - elsif defined?(current_user) && @question.questioner == current_user && votable.is_a?(Answer) && !@question.best_answer
    .vote
      %a.accept-action{class: 'unaccepted'} 未承認
      = form_for @question, url: accept_question_path(@question), method: :post do |f|
        = f.hidden_field :best_answer_id, value: votable.id
